body {
    width: 100%;
    margin: 0 auto;
    background-color: lightpink;
}
.container {
    max-width: 600px;
}
.right-or-wrong {
    border-top: 2px solid lightgray;
    text-align: center;
}
#timer {
    text-align: right;
}
#quiz {
    /* background-color:red; */
    margin-top: 50px;
}
#question, #options, #start {
    text-align: center;
}
.list-item {
    background-color: lightgrey;
}