body {
    width: 100%;
    margin: 0 auto;
}
.container {
    max-width: 600px;
}
#timer {
    text-align: right;
}
#head-content {
    border-bottom: 2px solid black;
}
#quiz {
    /* background-color:red; */
    margin-top: 50px;
}
#question, #options, #start {
    text-align: center;
}